.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
}

.fields {
  display: flex;
  flex-direction: column;
  margin: 20px 50px;
}
.fieldss {
  padding: 10px 10px;
  border-radius: 12px;
  background-color: #f7f7f7;
  height: 60px;
}
.btn {
  padding: 10px;
}
